/*
Copyright (c) 2015, Simple Design <Rob.Xcog at xcogstudios@gmail.com>
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
*/
/* 
    Created on : Aug 10, 2015, 4:42:23 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
.logo {
    font-size: 64px;
    color:  aliceblue;
}
.arimo {
    font-family: 'Arimo';
}

.lobster {
    font-family: 'Lobster';
    
}

.raleway {
    
    font-family: 'Raleway';
}

.fredrick-the-great {
    
    font-family: 'Fredericka the Great';
}
.cinzel {
    font-family: 'Cinzel';
    
}

.dark-text {
    
    color:  dimgray;
    
    
}

.grey-text {
    color: #cccccc;
    
}
.light-text {
    
    color: ghostwhite;
}
.bright-text {
    color: yellow;
    
}

.black-text {
    
    color: black;
}

.imgBorderSquare {
     
     border:2px solid #021a40;
margin: 2px 2px 2px 2px;
}

.logo-header {
    font-size: 80px;
    
}

.slide-1-header-sub {
    font-size: 80px;
    
}
#slide-1-container {
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
background: rgb(181,189,200); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(181,189,200,1)), color-stop(36%,rgba(130,140,149,1)), color-stop(100%,rgba(40,52,59,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 ); /* IE6-9 */

width: 100%;

padding: 0 20px 0 20px;

}

#slide-1 {
    
    position: relative;
    height: 1100px;
    width: 100%;
    //padding-bottom: 20px;
}
.slide-1-jt {
    height:100%;
    width: 100%;
    padding: 0 0 0 0;
    margin: 0 10px 0 10px;
    border: 0 10px 0 10px;

}

#slide-1-logo {
    
    display: absolute;
    
}

#slide-1-h1 {
    color: white;
    display: relative;
    position: 0 0 0 -20px;
    
}
.slide-1-bottom-label {
    
    font-size: 48px;
    background-color: ghostwhite;
  //  padding: 0 0 0 5%;
    width: 100%;
    left: 5%;
    right: 5%;
        -webkit-box-shadow: 28px 24px 58px 3px rgba(0,0,0,0.54);
-moz-box-shadow: 28px 24px 58px 3px rgba(0,0,0,0.54);
box-shadow: 28px 24px 58px 3px rgba(0,0,0,0.54);
    
  
}
.slide-1-header {
    font-size: 80px;

    
}
.slide-1-header-sub {
    font-size: 36px;
    top: -10px;
    padding: 0 25px 0 0;
    
}

#slide-2 {
    position: relative;
    
}
.slide-2-sheader {
    
    font-size: 64px;
    font-weight:  bolder;
    text-shadow: 4px 4px 4px #000000;
    
    
}

.slide-2-p {
    font-size: 24px;
}
.slide-2-carousel-inner {
    max-height:630px;
    min-height: 630px;
    .item {
        .top-caption {
           // position: absolute;
            //top: -40px;
            
        }
        
       .top-btn {
          // position: absolute;
            //top: -100px;
            
        }
       
    }
}

#simple-beautiful-img {
    -webkit-box-shadow: 28px 24px 58px 3px rgba(0,0,0,0.54);
-moz-box-shadow: 28px 24px 58px 3px rgba(0,0,0,0.54);
box-shadow: 28px 24px 58px 3px rgba(0,0,0,0.54);
    
  
}

#slide-3 {
    
position: relative;

}

.slide-3-jt {
    
    display: block;
    position: relative;
    background-image: url('../../../img/seo1920.jpg');
    height: 650px;
    border: 0 0 0 0;
    padding: 0 20px 0 20px;
    margin: 50px 0 0 0;
   z-index: 10;
    
}

.slide-3-header {
    display: block;
    position: relative;
    
    font-size: 80px;
        text-shadow: 4px 4px 4px #ccc;
}
.slide-3-p {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.43+9,0.48+79 */
background: -moz-linear-gradient(left,  rgba(0,0,0,0.43) 0%, rgba(0,0,0,0.43) 9%, rgba(0,0,0,0.48) 79%, rgba(0,0,0,0.48) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.43)), color-stop(9%,rgba(0,0,0,0.43)), color-stop(79%,rgba(0,0,0,0.48)), color-stop(100%,rgba(0,0,0,0.48))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 9%,rgba(0,0,0,0.48) 79%,rgba(0,0,0,0.48) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 9%,rgba(0,0,0,0.48) 79%,rgba(0,0,0,0.48) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 9%,rgba(0,0,0,0.48) 79%,rgba(0,0,0,0.48) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(0,0,0,0.43) 0%,rgba(0,0,0,0.43) 9%,rgba(0,0,0,0.48) 79%,rgba(0,0,0,0.48) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e000000', endColorstr='#7a000000',GradientType=1 ); /* IE6-9 */
padding: 10px 10px 10px 10px;
    font-size: 32px;
}

.slide-3-div{
    z-index: 10;
    height: 1550px;
}

.slide-3-top {
    
    z-index: 20;
    display: block;
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    height: 100px;
    background-color: darkslategrey;
    
}

.slide-3-bottom-text {
    
    font-size: 36px;
    
    
}
.slide-3-bottom-h2 {
    
    
}
.slide-3-bottom {
    display: block;
    position: relative;
padding: 25px 0 0 25px;
margin: 0 0 10px 0;
border: 0 0 0 0;
height: 800px;
width: 100%;
    
color: whitesmoke;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d3d3d+0,3f4c6b+100 */
background: rgb(61,61,61); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(61,61,61,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(61,61,61,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(61,61,61,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(61,61,61,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(61,61,61,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(61,61,61,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 */

.thumbnail {
    -webkit-box-shadow: 28px 24px 58px 3px rgba(0,0,0,0.54);
-moz-box-shadow: 28px 24px 58px 3px rgba(0,0,0,0.54);
box-shadow: 28px 24px 58px 3px rgba(0,0,0,0.54);
    
}
}

#slide-4 {
    
    position: relative;
}

.slide-4-div {
    display: block;
    position: relative;
    top: 150px;
    margin: 0 0 40px 0;
    padding: 20px 0 0 0;
    background-color: #ccc;
    
    
}

.slide-4-header {
    
    
}

.slide-4-body {
    
    padding: 0 30px 0 30px;
    margin: 0 0 0 0;
    border: 0 0 0 0;
}

.slide-4-top {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    padding: 15px 25px 15px 0;
        background-color: #ccc;
width: 100%;
height: 100px;

}
#seo-button {
    
}

#slide-5 {
    
    position: relative;
}
.slide-5 {
    
     display: block;
    position: absolute;
    margin: 80px 0 0 0;
}

.slide-5-header {
   
    font-size: 32px;
    
}

.slide-5-section {
    height: 500px;
    
    
}

#slide-6 {
    position: relative;
}