/*
Copyright (c) 2015, Simple Design <Rob.Xcog at xcogstudios@gmail.com>
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
*/
/* 
    Created on : Aug 10, 2015, 4:40:27 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* ========================================================================
   Base styles: opinionated defaults
========================================================================== */
/* line 37, ../sass/main.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 51, ../sass/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 56, ../sass/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 65, ../sass/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 80, ../sass/main.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 93, ../sass/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 103, ../sass/main.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 111, ../sass/main.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Xcogs's custom styles
   ========================================================================== */
/* line 121, ../sass/main.scss */
body {
  position: relative;
}

/*
Copyright (c) 2015, Simple Design <Rob.Xcog at xcogstudios@gmail.com>
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
*/
/* 
    Created on : Aug 10, 2015, 4:42:23 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 30, ../sass/slides/_slides.scss */
.logo {
  font-size: 64px;
  color: aliceblue;
}

/* line 34, ../sass/slides/_slides.scss */
.arimo {
  font-family: 'Arimo';
}

/* line 38, ../sass/slides/_slides.scss */
.lobster {
  font-family: 'Lobster';
}

/* line 43, ../sass/slides/_slides.scss */
.raleway {
  font-family: 'Raleway';
}

/* line 48, ../sass/slides/_slides.scss */
.fredrick-the-great {
  font-family: 'Fredericka the Great';
}

/* line 52, ../sass/slides/_slides.scss */
.cinzel {
  font-family: 'Cinzel';
}

/* line 57, ../sass/slides/_slides.scss */
.dark-text {
  color: dimgray;
}

/* line 64, ../sass/slides/_slides.scss */
.grey-text {
  color: #cccccc;
}

/* line 68, ../sass/slides/_slides.scss */
.light-text {
  color: ghostwhite;
}

/* line 72, ../sass/slides/_slides.scss */
.bright-text {
  color: yellow;
}

/* line 77, ../sass/slides/_slides.scss */
.black-text {
  color: black;
}

/* line 82, ../sass/slides/_slides.scss */
.imgBorderSquare {
  border: 2px solid #021a40;
  margin: 2px 2px 2px 2px;
}

/* line 88, ../sass/slides/_slides.scss */
.logo-header {
  font-size: 80px;
}

/* line 93, ../sass/slides/_slides.scss */
.slide-1-header-sub {
  font-size: 80px;
}

/* line 97, ../sass/slides/_slides.scss */
#slide-1-container {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,828c95+36,28343b+100;Grey+Black+3D */
  background: #b5bdc8;
  /* Old browsers */
  background: -moz-linear-gradient(left, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #b5bdc8), color-stop(36%, #828c95), color-stop(100%, #28343b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* IE10+ */
  background: linear-gradient(to right, #b5bdc8 0%, #828c95 36%, #28343b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=1 );
  /* IE6-9 */
  width: 100%;
  padding: 0 20px 0 20px;
}

/* line 115, ../sass/slides/_slides.scss */
#slide-1 {
  position: relative;
  height: 1100px;
  width: 100%;
}

/* line 122, ../sass/slides/_slides.scss */
.slide-1-jt {
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
  margin: 0 10px 0 10px;
  border: 0 10px 0 10px;
}

/* line 131, ../sass/slides/_slides.scss */
#slide-1-logo {
  display: absolute;
}

/* line 137, ../sass/slides/_slides.scss */
#slide-1-h1 {
  color: white;
  display: relative;
  position: 0 0 0 -20px;
}

/* line 143, ../sass/slides/_slides.scss */
.slide-1-bottom-label {
  font-size: 48px;
  background-color: ghostwhite;
  width: 100%;
  left: 5%;
  right: 5%;
  -webkit-box-shadow: 28px 24px 58px 3px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 28px 24px 58px 3px rgba(0, 0, 0, 0.54);
  box-shadow: 28px 24px 58px 3px rgba(0, 0, 0, 0.54);
}

/* line 157, ../sass/slides/_slides.scss */
.slide-1-header {
  font-size: 80px;
}

/* line 162, ../sass/slides/_slides.scss */
.slide-1-header-sub {
  font-size: 36px;
  top: -10px;
  padding: 0 25px 0 0;
}

/* line 169, ../sass/slides/_slides.scss */
#slide-2 {
  position: relative;
}

/* line 173, ../sass/slides/_slides.scss */
.slide-2-sheader {
  font-size: 64px;
  font-weight: bolder;
  text-shadow: 4px 4px 4px #000000;
}

/* line 182, ../sass/slides/_slides.scss */
.slide-2-p {
  font-size: 24px;
}

/* line 185, ../sass/slides/_slides.scss */
.slide-2-carousel-inner {
  max-height: 630px;
  min-height: 630px;
}

/* line 204, ../sass/slides/_slides.scss */
#simple-beautiful-img {
  -webkit-box-shadow: 28px 24px 58px 3px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 28px 24px 58px 3px rgba(0, 0, 0, 0.54);
  box-shadow: 28px 24px 58px 3px rgba(0, 0, 0, 0.54);
}

/* line 212, ../sass/slides/_slides.scss */
#slide-3 {
  position: relative;
}

/* line 218, ../sass/slides/_slides.scss */
.slide-3-jt {
  display: block;
  position: relative;
  background-image: url("../../../img/seo1920.jpg");
  height: 650px;
  border: 0 0 0 0;
  padding: 0 20px 0 20px;
  margin: 50px 0 0 0;
  z-index: 10;
}

/* line 231, ../sass/slides/_slides.scss */
.slide-3-header {
  display: block;
  position: relative;
  font-size: 80px;
  text-shadow: 4px 4px 4px #ccc;
}

/* line 238, ../sass/slides/_slides.scss */
.slide-3-p {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.43+9,0.48+79 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.43) 9%, rgba(0, 0, 0, 0.48) 79%, rgba(0, 0, 0, 0.48) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.43)), color-stop(9%, rgba(0, 0, 0, 0.43)), color-stop(79%, rgba(0, 0, 0, 0.48)), color-stop(100%, rgba(0, 0, 0, 0.48)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.43) 9%, rgba(0, 0, 0, 0.48) 79%, rgba(0, 0, 0, 0.48) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.43) 9%, rgba(0, 0, 0, 0.48) 79%, rgba(0, 0, 0, 0.48) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.43) 9%, rgba(0, 0, 0, 0.48) 79%, rgba(0, 0, 0, 0.48) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(0, 0, 0, 0.43) 0%, rgba(0, 0, 0, 0.43) 9%, rgba(0, 0, 0, 0.48) 79%, rgba(0, 0, 0, 0.48) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e000000', endColorstr='#7a000000',GradientType=1 );
  /* IE6-9 */
  padding: 10px 10px 10px 10px;
  font-size: 32px;
}

/* line 251, ../sass/slides/_slides.scss */
.slide-3-div {
  z-index: 10;
  height: 1550px;
}

/* line 256, ../sass/slides/_slides.scss */
.slide-3-top {
  z-index: 20;
  display: block;
  position: relative;
  margin: 0 0 0 0;
  width: 100%;
  height: 100px;
  background-color: darkslategrey;
}

/* line 268, ../sass/slides/_slides.scss */
.slide-3-bottom-text {
  font-size: 36px;
}

/* line 278, ../sass/slides/_slides.scss */
.slide-3-bottom {
  display: block;
  position: relative;
  padding: 25px 0 0 25px;
  margin: 0 0 10px 0;
  border: 0 0 0 0;
  height: 800px;
  width: 100%;
  color: whitesmoke;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d3d3d+0,3f4c6b+100 */
  background: #3d3d3d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #3d3d3d 0%, #3f4c6b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #3d3d3d), color-stop(100%, #3f4c6b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #3d3d3d 0%, #3f4c6b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #3d3d3d 0%, #3f4c6b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #3d3d3d 0%, #3f4c6b 100%);
  /* IE10+ */
  background: linear-gradient(to right, #3d3d3d 0%, #3f4c6b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3d3d', endColorstr='#3f4c6b',GradientType=1 );
  /* IE6-9 */
}
/* line 298, ../sass/slides/_slides.scss */
.slide-3-bottom .thumbnail {
  -webkit-box-shadow: 28px 24px 58px 3px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 28px 24px 58px 3px rgba(0, 0, 0, 0.54);
  box-shadow: 28px 24px 58px 3px rgba(0, 0, 0, 0.54);
}

/* line 306, ../sass/slides/_slides.scss */
#slide-4 {
  position: relative;
}

/* line 311, ../sass/slides/_slides.scss */
.slide-4-div {
  display: block;
  position: relative;
  top: 150px;
  margin: 0 0 40px 0;
  padding: 20px 0 0 0;
  background-color: #ccc;
}

/* line 327, ../sass/slides/_slides.scss */
.slide-4-body {
  padding: 0 30px 0 30px;
  margin: 0 0 0 0;
  border: 0 0 0 0;
}

/* line 334, ../sass/slides/_slides.scss */
.slide-4-top {
  display: block;
  position: relative;
  margin: 0 0 20px 0;
  padding: 15px 25px 15px 0;
  background-color: #ccc;
  width: 100%;
  height: 100px;
}

/* line 348, ../sass/slides/_slides.scss */
#slide-5 {
  position: relative;
}

/* line 352, ../sass/slides/_slides.scss */
.slide-5 {
  display: block;
  position: absolute;
  margin: 80px 0 0 0;
}

/* line 359, ../sass/slides/_slides.scss */
.slide-5-header {
  font-size: 32px;
}

/* line 365, ../sass/slides/_slides.scss */
.slide-5-section {
  height: 500px;
}

/* line 371, ../sass/slides/_slides.scss */
#slide-6 {
  position: relative;
}

/*
Copyright (c) 2015, Simple Design <Rob.Xcog at xcogstudios@gmail.com>
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

* Redistributions of source code must retain the above copyright notice, this
  list of conditions and the following disclaimer.
* Redistributions in binary form must reproduce the above copyright notice,
  this list of conditions and the following disclaimer in the documentation
  and/or other materials provided with the distribution.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
*/
/* 
    Created on : Aug 12, 2015, 10:37:58 AM
    Author     : Simple Design <Rob.Xcog at xcogstudios@gmail.com>
*/
/* line 30, ../sass/nav/_navbar.scss */
#pageNav {
  z-index: 500;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/* line 144, ../sass/main.scss */
.noBreakWhite {
  white-space: nowrap;
}

/*
 * Hide visually and from screen readers:
 */
/* line 155, ../sass/main.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 164, ../sass/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 181, ../sass/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 195, ../sass/main.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 211, ../sass/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 217, ../sass/main.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 245, ../sass/main.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 255, ../sass/main.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 260, ../sass/main.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 264, ../sass/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 273, ../sass/main.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 278, ../sass/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 289, ../sass/main.scss */
  thead {
    display: table-header-group;
  }

  /* line 293, ../sass/main.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 298, ../sass/main.scss */
  img {
    max-width: 100% !important;
  }

  /* line 302, ../sass/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 309, ../sass/main.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
